body {  
    font-family: Arial, sans-serif;  
    background-color: #f4f4f4;  
    margin: 0;  
    padding: 40px; /* Increased the padding from 20px to 40px */  
}  

.container {  
    max-width: 600px;  
    margin: auto;  
    background: white;  
    padding: 100px; /* Increased the padding from 20px to 40px */  
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
    border-radius: 5px;  
}  

.form-container {  
    margin-bottom: 40px;  
}  

.form-row {  
    display: flex;  
    justify-content: space-between;  
    margin-bottom: 20px;  
}  

.form-field {  
    flex: 1;  
    margin-right: 20px;  
}  

.form-field:last-child {  
    margin-right: 0;  
}  

input, textarea {  
    width: 100%;  
    padding: 10px;  
    border: 1px solid #ccc;  
    border-radius: 4px;  
    font-size: 16px;  
}  

button {  
    background-color: #4CAF50;  
    color: white;  
    padding: 10px 20px;  
    border: none;  
    border-radius: 4px;  
    cursor: pointer;  
    font-size: 16px;  
}  

button:hover {  
    background-color: #45a049;  
}
